.hijo2 {
    .heroEstudio{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 40px;
        .fotoSala{
            display: flex;
            flex-direction: row wrap;
            border-radius: 40px;
            width: 700px;
            height: 576px;
            margin-left: 20px;
        }
        .fotoTv{
            display: flex;
            flex-direction: row wrap;
            border-radius: 40px;
            width: 700px;
            height: 576px;
            margin-right: 20px;
        }
        .textoEstudio{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 20px;
        }
        h1{
            display: flex;
            flex-flow: row wrap;
            text-align: center;
            color: aliceblue;
            font-family: 'Russo One', sans-serif;
            font-size: 3rem;
            text-shadow: red 0 -2px;
        }
        h2{
            display: flex;
            flex-flow: row wrap;
            text-align: center;
            color: aliceblue;
            font-family: 'Russo One', sans-serif;
            font-size: 3rem;
            text-shadow: red 0 -2px;
        }
    }
}
.redes{
    #instagram{
        width: 80px;
        margin-right: 20px;
        &:hover{
            transform:scale(1.05)
        }
    }
    #youtube{
        width: 122px;
        margin-right: 20px;
        &:hover{
            transform:scale(1.05)
        }
    }
    #whatsapp{
        width: 82px;
        border-radius: 10px;
        &:hover{
            transform:scale(1.05)
        }
    }
}