@media screen and (max-width:576px){
    .navBar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
            li a{
                font-size: 0.9rem;
            }
    }
    .hijo2{
        .heroIndex{
            display: flex;
            flex-direction: column;
            margin: 30px 0;    
            h1{
                font-size: 1.2rem;
                padding: 20px;
            }
            .fotoControlRoom{
                width: 10rem;
            }
            .fotoPin{
                width: 10rem;
            }
        }
        .heroEstudio{
            display: flex;
            flex-direction: column;
            margin: 30px 0;    
            .textoEstudio{
                font-size: 1.2rem;
                padding: 20px;
            }
            .fotoSala{
                width: 10rem;
                height: 10rem;
                margin: 0;
            }
            .fotoTv{
                width: 10rem;
                height: 10rem;
                margin: 0;
            }
        }
        .listaServicios{
            ul li{
            padding: 11px;
            font-size: 1.3rem;
            }
        }
        .galeriaTitulo{
            display: flex;
            font-size: 1rem;
            text-align: center;
        }
        .container{
            margin: auto;
            background-color: rgba(166, 1, 1, 0.292);
            width: 18.75rem;
            padding: 30px;
        }
        ul.slider{
            position: relative;
            width: 15.625rem;
            height: 8.75rem;
            li {
                position: absolute;
                left: 0px;
                top: 0px;
                opacity: 0;
                width: inherit;
                height: inherit;
                transition: opacity .5s;
                background:rgba(129, 27, 27, 0.555);
                img{
                    width: 100%;
                    height: 18.75rem;
                    object-fit: cover;
                }
            }
        }
        .equiposTitulo{
            font-size: 1rem;
            padding: 10px;
        }
        .redes{
            display: flex;
            justify-content: center;
            flex-direction: row wrap;
            align-items: center;
            padding: 0px;
            .instagram{
                width: 50px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .youtube{
                width: 92px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .whatsapp{
                width: 52px;
                border-radius: 10px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            }
        } 
    .hijo3{
        p{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
        font-size: 0.6rem;
        }
    }
}
@media screen  and (min-width:577px) and (max-width:776px){
    .navBar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
            li a{
                font-size: 0.9rem;
            }
    }
    .hijo2{
        .heroIndex{
            display: flex;
            flex-direction: column;
            margin: 30px 0;    
            h1{
                font-size: 1.2rem;
                padding: 20px;
            }
            .fotoControlRoom{
                width: 10rem;
            }
            .fotoPin{
                width: 10rem;
            }
        }
        .heroEstudio{
            display: flex;
            flex-direction: column;
            margin: 30px 0;    
            .textoEstudio{
                font-size: 1.2rem;
                padding: 20px;
            }
            .fotoSala{
                width: 10rem;
                height: 10rem;
                margin: 0;
            }
            .fotoTv{
                width: 10rem;
                height: 10rem;
                margin: 0;
            }
        }
        .listaServicios{
            ul li{
            padding: 11px;
            font-size: 1.3rem;
            }
        }
        .galeriaTitulo{
            display: flex;
            font-size: 1.5rem;
            text-align: center;
        }
        .container{
            margin: auto;
            background-color: rgba(166, 1, 1, 0.292);
            width: 500px;
            padding: 20px;
        }
        ul.slider{
            position: relative;
            width: 460px;
            height: 300px;
            li {
                position: absolute;
                left: 0px;
                top: 0px;
                opacity: 0;
                width: inherit;
                height: inherit;
                transition: opacity .5s;
                background:rgba(129, 27, 27, 0.555);
                img{
                    width: 100%;
                    height: 330px;
                    object-fit: cover;
                }
            }
        }
        .equiposTitulo{
            font-size: 1rem;
            padding: 10px;
        }
        .redes{
            display: flex;
            justify-content: center;
            flex-direction: row wrap;
            align-items: center;
            padding: 0px;
            .instagram{
                width: 50px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .youtube{
                width: 92px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .whatsapp{
                width: 52px;
                border-radius: 10px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            }
        } 
    .hijo3{
        p{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
        font-size: 0.6rem;
        }
    }
}
@media screen and (min-width:777px) and (max-width:992px){
    .navBar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0px;
            li a{
                font-size: 0.9rem;
            }
    }
    .hijo2{
        .heroIndex{
            display: flex;
            flex-direction: column;
            margin: 30px 0;    
            h1{
                font-size: 1.2rem;
                padding: 20px;
            }
            .fotoControlRoom{
                width: 10rem;
            }
            .fotoPin{
                width: 10rem;
            }
        }
        .heroEstudio{
            display: flex;
            flex-direction: column;
            margin: 30px 0;    
            .textoEstudio{
                font-size: 1.2rem;
                padding: 20px;
            }
            .fotoSala{
                width: 10rem;
                height: 10rem;
                margin: 0;
            }
            .fotoTv{
                width: 10rem;
                height: 10rem;
                margin: 0;
            }
        }
        .listaServicios{
            ul li{
            padding: 5px;
            font-size: 1.6rem;
            }
        }
        ul.slider{
            position: relative;
            width: 660px;
            height: 300px;
            li {
                position: absolute;
                left: 0px;
                top: 0px;
                opacity: 0;
                width: inherit;
                height: inherit;
                transition: opacity .5s;
                background:rgba(129, 27, 27, 0.555);
                img{
                    width: 100%;
                    height: 330px;
                    object-fit: cover;
                }
            }
        }
        .redes{
            display: flex;
            justify-content: center;
            flex-direction: row wrap;
            align-items: center;
            padding: 0px;
            .instagram{
                width: 50px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .youtube{
                width: 92px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .whatsapp{
                width: 52px;
                border-radius: 10px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            }
        } 
    .hijo3{
        p{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
        font-size: 0.6rem;
        }
    }
}
@media screen and (min-width:993px) and (max-width:1200px){
    .navBar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
            li a{
                font-size: 1.3rem;
            }
    }
    .hijo2{
        .heroIndex{
            display: flex;
            flex-direction: row;
            margin: 50px 0;    
            h1{
                font-size: 1.5rem;
                padding: 10px;
            }
            .fotoControlRoom{
                width: 20rem;
            }
            .fotoPin{
                width: 20rem;
            }
        }
        .heroEstudio{
            display: flex;
            flex-direction: row;
            margin: 30px 0;    
            .textoEstudio{
                font-size: 1.5rem;
                padding: 20px;
            }
            .fotoSala{
                width: 20rem;
                height: 20rem;
                margin: 0;
            }
            .fotoTv{
                width: 20rem;
                height: 20rem;
                margin: 0;
            }
        }
        .listaServicios{
            ul li{
            font-size: 1.8rem;
            }
        }
        ul.slider{
            position: relative;
            width: 900px;
            height: 300px;
            li {
                position: absolute;
                left: 0px;
                top: 0px;
                opacity: 0;
                width: inherit;
                height: inherit;
                transition: opacity .5s;
                background:rgba(129, 27, 27, 0.555);
                img{
                    width: 100%;
                    height: 330px;
                    object-fit: cover;
                }
            }
        }
        .redes{
            display: flex;
            justify-content: center;
            flex-direction: row wrap;
            align-items: center;
            padding: 0px;
            .instagram{
                width: 60px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .youtube{
                width: 102px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .whatsapp{
                width: 62px;
                border-radius: 10px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            }
        } 
    .hijo3{
        p{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 20 0;
        font-size: 0.8rem;
        }
    }
}
@media screen and (min-width:1201px) and (max-width:1400px){
    .navBar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
            li a{
                font-size: 1.8rem;
            }
    }
    .hijo2{
        .heroIndex{
            display: flex;
            flex-direction: row;
            margin: 50px 0;    
            h1{
                font-size: 1.5rem;
                padding: 10px;
            }
            .fotoControlRoom{
                width: 20rem;
            }
            .fotoPin{
                width: 20rem;
            }
        }
        .heroEstudio{
            display: flex;
            flex-direction: row;
            margin: 30px 0;    
            .textoEstudio{
                font-size: 1.7rem;
                padding: 20px;
            }
            .fotoSala{
                width: 25rem;
                height: 25rem;
                margin: 0;
            }
            .fotoTv{
                width: 25rem;
                height: 25rem;
                margin: 0;
            }
        }
        .listaServicios{
            ul li{
            font-size: 1.8rem;
            }
        }  
        .redes{
            display: flex;
            justify-content: center;
            flex-direction: row wrap;
            align-items: center;
            padding: 0px;
            .instagram{
                width: 70px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .youtube{
                width: 112px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .whatsapp{
                width: 72px;
                border-radius: 10px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            }
        } 
    .hijo3{
        p{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 20 0;
        font-size: 0.8rem;
        }
    }
}
@media screen and (min-width:1401px){
    .navBar{
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 0;
            li a{
                display: flex;
                font-size: 2rem;
                margin: 2.2vw;
            }
    }
    .hijo2{
        .heroIndex{
            display: flex;
            flex-direction: row;
            margin: 50px 0;    
            h1{
                font-size: 1.8rem;
                padding: 10px;
            }
            .fotoControlRoom{
                width: 30rem;
            }
            .fotoPin{
                width: 30rem;
            }
        } 
        .redes{
            display: flex;
            justify-content: center;
            flex-direction: row wrap;
            align-items: center;
            padding: 0px;
            .instagram{
                width: 70px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .youtube{
                width: 112px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            .whatsapp{
                width: 72px;
                border-radius: 10px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            }
        } 
    .hijo3{
        p{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
        font-size: 0.7rem;
        }
    }
}